@import './theme.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--color-surface);
  color: var(--color-ink);
  font-family: theme('fontFamily.sans');
}
